[ req ]
default_md = md5
prompt = no
req_extensions = req_ext
distinguished_name = req_distinguished_name
[ req_distinguished_name ]
commonName = jdtls
countryName = KR
stateOrProvinceName = Gyeonggi-do
localityName = Seongnam-si
organizationName = UANGEL
emailAddress = ehddnr177@uangel.com
[ req_ext ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
keyUsage=critical,digitalSignature,keyEncipherment
extendedKeyUsage=critical,serverAuth,clientAuth
subjectAltName = @alt_names
[ alt_names ]
email.0 = ehddnr177@naver.com